{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - About me{% endblock %}

{% block body %}

{% include('header.html.twig') %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>About me</h2>
                <ol>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li>About me</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->

    <section id="about" class="about">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>About me</h2>
            </div>

            <div class="row content">
                <div class="col-lg-8 col-sm-12" data-aos="fade-up" data-aos-delay="150">
                    <h3>{{ modo.prenom }} {{ modo.nom }}</h3>
                    <p>
                       {{ modo.Apropos|raw }}
                    </p>
                    <div class="row mt-4">
                        <div class="col">
                            <a href="{{ path('portfolio') }}" class="btn-learn-more">Portfolio</a> 
                        </div>
                        <div class="col contact d-flex justify-content-end">
                            <div class="contact social-links">
                                <a href="{{ modo.facebook}}" class="facebook my-1"><i class="bi bi-facebook"></i></a>
                                <a href="{{ modo.twitter }}" class="twitter my-1"><i class="bi bi-twitter"></i></a>
                                <a href="{{ modo.github }}" class="github my-1"><i class="bi bi-github"></i></a>
                                <a href="{{ modo.linkedin }}" class="linkedin my-1"><i class="bi bi-linkedin"></i></a>
                                <a href="{{ modo.discord }}" class="discord my-1"><i class="bi bi-discord"></i></a>
                                <a href="{{ modo.telegram }}" class="telegram my-1"><i class="bi bi-telegram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 d-flex align-items-center mt-4" data-aos="fade-up" data-aos-delay="150">
                    <img src="{{ asset('img/about.jpg') }}" alt="About" class="img-fluid rounded px-3">
                </div>
            </div>
        </div>
    </section>

</main>

{% include('footer.html.twig') %}

{% endblock %}