{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - Log in!{% endblock %}

{% block body %}

{% include('header.html.twig') %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Login</h2>
                <ol>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li>Login</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-5">
                    <form method="post">
                        {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                        {% endif %}

                        {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
                        <p class="mb-3">Admin Panel</p>
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                            class="form-control mb-3" autocomplete="email" required autofocus>

                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control mb-3"
                            autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}

                        <div class="mt-3 d-grid gap-2">
                            <button class="btn btn-lg btn-primary" type="submit">Log in</button>
                            <button class="btn btn-lg btn-secondary" type="reset">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>

{% include('footer.html.twig') %}

{% endblock %}