{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - Welcome!{% endblock %}

{% block body %}

    {% include('header.html.twig') %}

    <!-- ======= Hero Section ======= -->
        {% include('home/hero.html.twig') %}
    <!-- End Hero -->

    <main id="main">

        <!-- ======= LastItems section ======= -->
            {% include('home/cta.html.twig') %}
        <!-- End lastItems Section -->
        
        <!-- ======= LastItems section ======= -->
            {% include('home/lastItems.html.twig') %}
        <!-- End lastItems Section -->

        <!-- ======= Last news section ======= -->
            {% include('home/lastNews.html.twig') %}
        <!-- End More Services Section -->

        <!-- ======= Contact Section ======= -->
            {% include('home/prefooter.html.twig') %}
        <!-- End Contact Section -->

    </main><!-- End #main -->

    {% include('footer.html.twig') %}

{% endblock %}
