<section id="lastnews" class="more-services">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Last news</h2>
            <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fug</p>
        </div>

        <div class="row">
            {% for blogpost in blogposts %}
            <div class="col-sm-12 col-md-6">
                <div class="card h-100" data-aos="fade-up" data-aos-delay="100">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('detailnews', {'slug': blogpost.slug}) }}">{{ blogpost.titre }}</a>
                        </h5>
                        <p class="card-text">
                            {{ blogpost.contenu|u.truncate(200, '...', false)|raw }}
                        </p>
                        <div class="read-more d-flex justify-content-between align-items-center">
                            <span>
                                <a href="">Posted on {{ blogpost.createdAt|date('Y-m-d') }}</a>
                            </span>
                            <a href="{{ path('detailnews', {'slug': blogpost.slug}) }}"><i class="bi bi-arrow-right"></i> Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="text-center mt-4">
            <a href="{{ path('news') }}" class="btn btn-lg btn-outline-primary">&#8594; See all news</a>
        </div>

    </div>
</section>