<section id="items" class="services">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Items</h2>
            <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fug</p>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for item in items %}
                <div class="col">
                    <div class="card h-100" data-aos="fade-up" data-aos-delay="100">
                        <img src="{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('miniatureHome') }}" class="card-img-top" alt="{{ item.nom }}">
                        <div class="card-body">
                            <a href="{{ path('detailitem', {'slug': item.slug}) }}">
                                <h5 class="card-title">{{ item.nom }}</h5>
                            </a>
                            <p class="card-text">
                                {{ item.description|u.truncate(100, '...', false)|raw }}
                            </p>
                        </div>
                        <div class="border-top pt-1 pb-2 px-3">
                            <small class="text-muted fst-italic">Posted on {{ item.createdAt|date('Y/m/d') }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="text-center mt-4">
            <a href="{{ path('items') }}" class="btn btn-lg btn-outline-primary">&#8594; See all items</a>
        </div>

    </div>
</section>