<section id="contact" class="contact">

    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="contact-about">
                    <h3>{{ site_name }}</h3>
                    <p>
                        {{ modo.description|raw }}
                    </p>
                    <div class="social-links">
                        <a href="{{ modo.facebook}}" class="facebook my-1"><i class="bi bi-facebook"></i></a>
                        <a href="{{ modo.twitter }}" class="twitter my-1"><i class="bi bi-twitter"></i></a>
                        <a href="{{ modo.github }}" class="github my-1"><i class="bi bi-github"></i></a>
                        <a href="{{ modo.linkedin }}" class="linkedin my-1"><i class="bi bi-linkedin"></i></a>
                        <a href="{{ modo.discord }}" class="discord my-1"><i class="bi bi-discord"></i></a>
                        <a href="{{ modo.telegram }}" class="telegram my-1"><i class="bi bi-telegram"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                <div class="info">
                    <div>
                        <i class="ri-map-pin-line"></i>
                        <p>{{ modo.adresse}}</p>
                    </div>

                    <div>
                        <i class="ri-mail-send-line"></i>
                        <p>{{ modo.email }}</p>
                    </div>

                    <div>
                        <i class="ri-phone-line"></i>
                        <p>{{ modo.telephone }}</p>
                    </div>

                </div>
            </div>

            {#
            <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                            required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message"
                            required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>
            #}

        </div>
    </div>

</section>