{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - Register{% endblock %}

{% block body %}

{% include('header.html.twig') %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Register</h2>
                <ol>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li>Register</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-5">
                    {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}

                    <h1>Register</h1>

                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.prenom) }}
                        {{ form_row(registrationForm.nom) }}
                        {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}

                        <div class="d-flex justify-content-center">
                            <a class="me-2" href="#">Agree terms</a>
                            {{ form_row(registrationForm.agreeTerms) }}
                        </div>

                        <div class="mt-3 d-grid gap-2">
                            <button type="submit" class="btn btn-success">Register</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </section>
</main>

{% include('footer.html.twig') %}

{% endblock %}