{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - News: {{ blogpost.titre }}{% endblock %}

{% block body %}

{% include('header.html.twig') %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Item: {{ blogpost.titre }}</h2>
                <ol>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('news') }}">News</a></li>
                    <li>{{ blogpost.titre }}</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h2>{{ blogpost.titre }}</h2>
                    {#
                    {% for categorie in blogpost.categorie %}
                        <span class="badge bg-secondary">{{ categorie.nom }}</span>
                    {% endfor %}
                    #}
                    <p class="fs-lg text-muted">
                        {{ blogpost.contenu|raw }}
                    </p>
                    <p class="fs-lg text-muted">
                        Published on <span class="ms-auto">{{ blogpost.createdAt|date('Y-m-d') }}</span>
                    </p>
                </div>
            </div>

            {% include 'commentaire/form.html.twig' %}

            {% include 'commentaire/commentaires.html.twig' %}
        </div>
    </section>

</main>

{% include('footer.html.twig') %}

{% endblock %}