{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - News{% endblock %}

{% block body %}

{% include('header.html.twig') %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>News</h2>
                <ol>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li>News</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="more-services">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for blogpost in blogposts %}
                    <div class="col" data-aos="zoom-out-left">
                        <div class="card h-100">
                            <div class="card-body">
                                <a href="{{ path('detailnews', {'slug': blogpost.slug}) }}">
                                    <h5 class="card-title fw-bold border-top border-bottom py-2">{{ blogpost.titre }}</h5>
                                </a>
                                <p class="card-text">
                                    {{ blogpost.contenu|u.truncate(250, '...', false)|raw }}
                                </p>
                            </div>
                            <div class="bg-light py-2 px-3 rounded border">
                                <small class="text-muted">Posted on {{ blogpost.createdAt|date('Y-m-d') }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="d-flex justify-content-center mt-5">
            {% do blogposts.setPageRange(2) %}
            {{ knp_pagination_render(blogposts, 'pagination.html.twig') }}
        </div>

    </section>

</main>

{% include('footer.html.twig') %}

{% endblock %}