{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - Portfolio {{ categorie.nom }}{% endblock %}

{% block body %}

{% include('header.html.twig') %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Portfolio</h2>
                <ol>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('portfolio') }}">Portfolio</a></li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row">

                {% set item = categorie.items|last %}
                <section class="pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-9 text-center">
                                <img src="{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('miniaturePortfolio') }}" alt="...">
                                <h1 class="display-2 fw-bold">
                                    {{ categorie.nom }}
                                </h1>
                                <p class="lead text-white-75 mb-4">
                                    {{ categorie.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="pt-2">
                    <div class="container">
                        <div class="row justify-content-center">
                            {% for item in items %}
                            <div class="col-12 col-md-3">
                                <div class="card text-center">
                                    <a href="{{ path('detailitem', {'slug': item.slug}) }}">
                                        <img src="{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('miniaturePortfolioSmall') }}" alt="..." class="img-fluid w-100">
                                    </a>
                                    <div class="d-flex justify-content-between align-items-center p-3">
                                        {{ item.createdAt|date('Y-m-d') }}
                                        <span class="fw-bold">
                                            {{ item.prix|format_currency('USD', locale='en_US') }} 
                                            <a href="#"><i class="bx bx-basket fw-bold"></i></a>
                                        </span> 
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main>

{% include('footer.html.twig') %}

{% endblock %}
