{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - Portfolio{% endblock %}

{% block body %}

{% include('header.html.twig') %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Portfolio</h2>
                <ol>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li>Portfolio</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->

    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Portfolio</h2>
                <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
            </div>

            <!--
            <div class="row" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>
            -->

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

                {% for categorie in categories %}
                    {% set item = categorie.items|last %}
                    <div class="col-lg-4 col-md-6 portfolio-item">
                        <div class="portfolio-wrap">
                            <img src="{{ vich_uploader_asset(item, 'imageFile')  | imagine_filter('miniaturePortfolio') }}" class="img-fluid" alt="...">
                            <div class="portfolio-info">
                                <h4>{{ categorie.nom }}</h4>
                                <p>{{ categorie.description }}</p>
                                <div class="portfolio-links">
                                    <a href="{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('miniaturePortfolioLarge') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Category: {{ categorie.nom }} - {{ categorie.description }}"><i class="bx bx-window-open"></i></a>
                                    <a href="{{ path('portfolio_categorie', {'slug': categorie.slug}) }}" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section>

</main>

{% include('footer.html.twig') %}

{% endblock %}