{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

<div class="px-4 text-center border-bottom bg-light">
    <h1 class="display-5 fw-bold">Dashboard</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Welcome to your dashboard's website
        </p>
    </div>
</div>



{% endblock %}