<section>
    {% for com in commentaires %}
        <div class="container mb-2">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8">
                    <div class="card shadow">
                        <div class="row gx-0">
                            <!-- Body -->
                            <div class="card-body">
                                <blockquote class="mb-0 text-center">
                                    <!-- Texte -->
                                    <p>
                                        {{ com.contenu }}
                                    </p>
                                    <!-- Footer -->
                                    <footer class="blockquote-footer">
                                        <span class="h6">
                                            By {{ com.auteur }}, on {{ com.createdAt|date('Y-m-d') }}
                                        </span>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>