{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - Contact{% endblock %}

{% block body %}

{% include('header.html.twig') %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Contact</h2>
                <ol>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li>Contact</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->

    <section id="contact" class="contact">
        <div class="container">

            <div class="row">

                <div class="col-lg-5 col-sm-12 d-flex justify-content-center align-items-center px-5">
                    <img class="img-fluid rounded" src="{{ asset('img/more-services-2.jpg') }}" alt="...">
                </div>

                <div class="col-lg-7 col-sm-12">
                    <h2 class="text-center mb-2">Contact us</h2>
                    <p class="fs-lg text-center text-muted mb-0">
                        A question ? A need ? A desire ? do not hesitate to contact us
                    </p>
                    <hr class="hr-sm my-6 my-md-8 mx-auto bg-grey-300">

                    {{ form_start(form) }}
                    {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                    {% endfor %}

                    <div class="bg-danger">
                        {{ form_errors(form) }}
                    </div>

                    <div class="form-group mb-3">
                        {{ form_row(form.name, {'label': 'Name'}) }}
                    </div>

                    <div class="form-group mb-3">
                        {{ form_row(form.email, {'label': 'Email'}) }}
                    </div>

                    <div class="form-group mb-3">
                        {{ form_row(form.message, {'label': 'Your message'}) }}
                    </div>

                    <div class="form-group mb-0">
                        <table>
                            <tr>
                                <td>
                                    {{ form_row(form.send) }}
                                </td>
                                <td>
                                    {{ form_row(form.reset) }}
                                </td>
                            </tr>
                        </table>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>
    </section>

</main>

{% include('footer.html.twig') %}

{% endblock %}