    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1><a href="{{ path('home') }}">{{ site_name }}</a></h1>
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="{{ path('home') }}#hero">Home</a></li>
                    <li><a class="nav-link scrollto {% if current_menu is defined and current_menu == 'aboutme' %} active {% endif %}" href="{{ path('about') }}">About me</a></li>
                    <li><a class="nav-link scrollto {% if current_menu is defined and current_menu == 'items' %} active {% endif %}" href="{{ path('home') }}#items">Items</a></li>
                    <li><a class="nav-link scrollto {% if current_menu is defined and current_menu == 'news' %} active {% endif %}" href="{{ path('home') }}#lastnews">Last News</a></li>
                    <li class="dropdown">
                        <a class="{% if current_menu is defined and current_menu == 'portfolio' %} active {% endif %}" href="{{ path('portfolio') }}">
                            <span>Portfolio</span> <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul>
                            {% for categorie in categorieNavbar() %}
                                <li><a href="{{ path('portfolio_categorie', {'slug': categorie.slug}) }}">{{ categorie.nom }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% if app.user %}
                        <li><a class="nav-link scrollto" href="{{ path('admin') }}">Admin Dashboard</a></li>
                    {% endif %}
                    <li><a class="getstarted scrollto" href="{{ path('contact') }}">Contact us</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->