{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - Item: {{ item.nom }}{% endblock %}

{% block body %}

{% include('header.html.twig') %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Item: {{ item.nom }}</h2>
                <ol>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('items') }}">Items</a></li>
                    <li>Item: {{ item.nom }}</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-12">
                    <h2>{{ item.nom }}</h2>
                    {% for categorie in item.categorie %}
                        <span class="badge bg-secondary">{{ categorie.nom }}</span>
                    {% endfor %}

                    <p class="fs-lg text-muted">
                        {{ item.description }}
                    </p>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h6 class="d-flex mb-0 text-uppercase">
                                Published on
                                <span class="ms-auto">{{ item.createdAt|date('Y-m-d') }}</span>
                            </h6>
                        </li>
                        {% if item.enVente %}
                            <li class="list-group-item">
                                <h6 class="d-flex mb-0 text-uppercase">
                                    Available for sale
                                    <span class="ms-auto">{{ item.prix|format_currency('USD', locale='en_US') }}</span>
                                </h6>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-lg-7 col-sm-12 d-flex justify-content-center">
                    <img class="img-fluid rounded" src="{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('miniatureItemPage') }}" alt="{{ item.nom }}">
                </div>
            </div>

            {% include 'commentaire/form.html.twig' %}

            {% include 'commentaire/commentaires.html.twig' %}
        </div>
    </section>
</main>

{% include('footer.html.twig') %}

{% endblock %}