{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} - Items{% endblock %}

{% block body %}

{% include('header.html.twig') %}

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Items</h2>
                <ol>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li>Items</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
        <div class="container">
            {% for item in items %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-2">
                        <div class="card-body">
                            <img src="{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('miniatureItems') }}" class="img-fluid rounded-start" alt="{{ item.nom }}">
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <a href="{{ path('detailitem', {'slug': item.slug}) }}">
                                <h4 class="card-title">{{ item.nom }}</h4>
                            </a>
                            <p class="card-text">
                                {{ item.description|u.truncate(300, '...', false) }}
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Published on {{ item.createdAt|date('Y-m-d') }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center mt-5">
            {% do items.setPageRange(2) %}
            {{ knp_pagination_render(items, 'pagination.html.twig') }}
        </div>

    </section>
</main>

{% include('footer.html.twig') %}

{% endblock %}